@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply size-full;
        @apply scroll-smooth;
    }

    @media (prefers-color-scheme: light) {
        html {
            @apply bg-light text-dark bg-repeat;
        }
    }

    @media (prefers-color-scheme: dark) {
        html {
            @apply bg-dark text-light bg-repeat;
        }
    }

    body {
        @apply bg-light text-dark dark:bg-dark dark:text-light transition-all ease-in-out duration-500;
        @apply bg-contain bg-repeat-y;
        @apply bg-[linear-gradient(rgba(255,255,255,0.65),rgba(255,255,255,0.65)),url('/abstract-wave.webp')] dark:bg-[linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url('/abstract-wave.webp')];
    }

    h1 {
        @apply text-6xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    a {
        @apply transition-all ease-in-out duration-500;
    }

    a:hover {
        @apply text-primary;
    }

    span {
        @apply text-primary font-bold;
    }
}

@layer components {
    .btn {
        @apply flex gap-2 p-1.5 justify-center mt-auto items-center bg-light dark:bg-dark border border-neutral-400 dark:border-neutral-800 hover:bg-primary dark:hover:bg-primary hover:border-primary dark:hover:border-primary hover:text-white hover:dark:text-black rounded-lg;
    }

    .bg-glass {
        @apply bg-[rgba(0,0,0,0.05)] dark:bg-[rgba(255,255,255,0.05)] backdrop-blur-sm;
        @apply border border-neutral-400 dark:border-neutral-800 rounded-lg;
    }
}

.animate-in {
    animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
